<template>
  <router-link to="/">На главную</router-link>
  <h1>{{this.$route.params.key}}</h1>
  <addInput @addTodo="pushTodoList"/>
  <ul v-for="(item, index) in localList" :key=index class="list-group">
    <li class="list-group-item d-flex justify-content-between align-items-center"
    :class="{'list-group-item-success': item.done}">
      {{ item.name }}
      <div class="btn-group btn-group-sm">
        <div class="btn-group btn-group-sm">
          <button class="btn btn-success" @click="success(index)">
            Готово
          </button>
          <button class="btn btn-danger" @click="remove(index)">
            Удалить
          </button>
        </div>
      </div>
    </li>
  </ul>
</template>

<script>
import addInput from '@/components/addInput.vue';
// import axios from 'axios';

export default {
  name: 'todoApp',
  data() {
    return {
      list: [],
      localStorage: JSON.parse(localStorage.getItem(this.$route.params.key)),
      serverData: null,
    };
  },
  components: {
    addInput,
  },
  computed: {
    localList() {
      const newList = [];
      if (this.localStorage === null) {
        return this.list;
      }
      return newList.concat(this.localStorage, this.list);
    },
  },
  methods: {
    pushTodoList(addTodo) {
      this.list.push(JSON.parse(addTodo));
      localStorage.setItem(this.$route.params.key, JSON.stringify(this.localList));
    },
    success(index) {
      if (this.localList[index].done) {
        this.localList[index].done = false;
      } else {
        this.localList[index].done = true;
      }
      localStorage.setItem(this.$route.params.key, JSON.stringify(this.localList));
    },
    remove(index) {
      if (index < this.localStorage.length) {
        this.localStorage.splice(index, 1);
      } else {
        this.list.splice((index - this.localStorage.length), 1);
      }
      localStorage.setItem(this.$route.params.key, JSON.stringify(this.localList));
    },
    // loadApi() {
    //   axios.get('http://localhost:8000/todos/')
    //     .then(function (response) {
    //       this.serverData = response.data;
    //     });
    // },
  },
  beforeCreate() {
    if (!localStorage.getItem(this.$route.params.key)) {
      localStorage.setItem(this.$route.params.key, '[]');
    }
  },
  // created() {
  //   this.loadApi();
  // },
};
</script>
