<template>
<div>
  <h1>
    Список дел
  </h1>
  <div  class="cards-list">
    <div class="card-item" v-for="(name, index) in todoNamesGeneral" :key="index">
      <div class="header-card">
        <h4 class="name-card">
          {{name}}
        </h4>
        <div>
          <router-link class="link-card"
          :to="{name: 'todoList', params: {key: name}, props: {local: name}}">
          &#9997;
        </router-link>
        <span class="card-remove"
          @click="this.removeTodoCard(index, name)"
          @keyDown="this.removeTodoCard(index, name)">
          &#10060;
        </span>
        </div>
      </div>
      <ul>
        <li v-for="todo in localList[index].list"
          :key="todo.key" :class="{'list-group-item-success': todo.done}">
          {{todo.name}}
        </li>
      </ul>
    </div>
    <div class="btn-group btn-group-sm card-item add-form">
      <form v-if="inputAddCard" @submit.prevent="addCard">
        <label for="inputAddCard">
          <input type="text" v-model="cardName">
        </label>
        <button>Принять</button>
      </form>
      <img class="card-add" @click="inputAddCard = true" @keyDown="inputAddCard = true"
      v-if="!inputAddCard" src="/img/plus_.svg" alt="plus">
    </div>
  </div>
</div>
<router-view/>
</template>

<script>
export default {
  name: 'todoGeneral',
  data() {
    return {
      cardName: '',
      inputAddCard: false,
      todoMainName: 'Мои дела',
      localKey: 'todoNames',
      todoNamesNew: [],
      localS: localStorage.getItem('todoNames'),
      todoNamesLocal: localStorage.getItem('todoNames').split(','),
    };
  },
  computed: {
    todoNamesGeneral() {
      const newList = [];
      if (this.localS === '') {
        return this.todoNamesNew;
      }
      return newList.concat(this.todoNamesLocal, this.todoNamesNew);
    },
    // async getApi() {
    //   return
    // },
    localList() {
      const newList = [];
      this.todoNamesGeneral.forEach((todo) => {
        let local = [];
        const LS = JSON.parse(localStorage.getItem(todo));
        if (!LS || LS.length === 0) {
          local = [
            {
              name: 'Список пуст',
              done: false,
            },
          ];
        } else {
          local = JSON.parse(localStorage.getItem(todo));
        }
        const newTodo = {
          key: todo,
          list: local,
        };
        newList.push(newTodo);
      });
      return newList;
    },
  },
  methods: {
    addCard() {
      this.todoNamesNew.push(this.cardName);
      localStorage.setItem(this.localKey, this.todoNamesGeneral);
      this.cardName = '';
      this.inputAddCard = false;
    },
    removeTodoCard(index, name) {
      if (index < this.todoNamesLocal.length) {
        this.todoNamesLocal.splice(index, 1);
      } else {
        this.todoNamesNew.splice((index - this.localStorage.length), 1);
      }
      localStorage.removeItem(name);
      localStorage.setItem(this.localKey, this.todoNamesGeneral);
    },
  },
  beforeCreate() {
    if (!localStorage.getItem('todoNames')) {
      localStorage.setItem('todoNames', 'Мои дела');
      localStorage.setItem('Мои дела', '[{"name":"Сказать Hello, World!","done":false}]');
    }
  },
};
</script>

<style>
  * {
    margin: 0;
  }
  a {
    text-decoration: none;
    font-size: inherit;
    color: inherit;
  }
  a:hover {
    text-decoration: none;
  }
  .header-card {
    display: flex;
    justify-content: space-between;
  }
  .card-remove {
    cursor: pointer;
  }
  .cards-list {
    display: flex;
    flex-wrap: wrap;
  }
  /* .cards-list :not(:nth-child(3n)) {
    margin-right: 15px;
  } */
  .card-item {
    margin-bottom: 15px;
    padding: 10px;
    border: solid #524f4f 1px;
    border-radius: 25px;
    flex: 0 1 calc(100%/3 - 15px);
  }
  .add-form {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .card-add {
    height: 100px;
    margin-right: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  ul {
    padding: 0;
    list-style-type: none;
  }
</style>
