<template>
  <form>
    <label for="addInput" class="input-group mb-3">
      <input id="addInput" class="form-control" type="text"
      @input="undisabled" v-model="todo.name">
      <button id="addBtn" class="btn btn-primary" :disabled="disabled" @click="localSave">
        Добавить
      </button>
    </label>
  </form>
</template>

<script>
export default {
  name: 'addInput',
  data() {
    return {
      todo: {
        name: '',
        done: false,
      },
      disabled: true,
    };
  },
  methods: {
    undisabled() {
      if (this.todo.name === '') {
        this.disabled = true;
      } else {
        this.disabled = false;
      }
    },
    localSave() {
      this.$emit('addTodo', JSON.stringify(this.todo));
      this.todo.name = '';
      this.disabled = true;
    },
  },
};
</script>
