<template>
  <div id="cont">
    {{ inner }}
  </div>
</template>

<script>
export default {
  name: 'todoList',
  data() {
    return {
      todoListIrem: this.addTodoList,
      innerItem: this.inner,
    };
  },
  props: {
    addTodoList: Object,
    inner: String,
  },
  methods: {
    addItemList() {
      if (!this.addTodoList) {
        console.log('Дел нет');
        return;
      }
      console.log('дела есть');
    },
  },
  update() {
    this.addItemList();
  },
};
</script>
